.order_detail_page{
    min-height: 300px;
    width: 100%;
    display: flex;
    flex-direction: column;
    background-color: white;
    padding: 60px 20px 0 20px;
    box-sizing: border-box;
}
.order_detail_page >.id_sec{
    color: red;
}
:is(.order_shipping_box,.order_payment_box,.order_status_box) >div{
    padding-left: 15px;
    margin: 8px 0;
}
:is(.order_shipping_box,.order_payment_box,.order_status_box) >div b{
    padding-right: 10px;
}
.order_detail_items{
    border-top: 1px solid gray;
}
.order_detail_items >div{
    width: 60%;
}

@media screen and (max-width:600px){
    .order_detail_items >div{
        width: 100%;
    }
}